<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ProductMapper">

<!--    <resultMap id="BaseResultMap" type="com.example.entity.Product">-->
<!--        <result column="id" jdbcType="INTEGER" property="id" />-->
<!--        <result column="productName" jdbcType="VARCHAR" property="productName" />-->
<!--        <result column="productInfo" jdbcType="VARCHAR" property="productInfo" />-->
<!--        <result column="productPrice" jdbcType="VARCHAR" property="productPrice" />-->
<!--    </resultMap>-->

<!--    <resultMap id="BaseResultMap" type="com.example.entity.Product">-->
<!--    </resultMap>-->
    <select id="getAllProducts" resultType="com.example.entity.Product">
        select * from product
    </select>

    <select id="getAProduct" resultType="com.example.entity.Product">
        select * from product where id = #{productId}
    </select>



</mapper>